{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href={% static "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet" %}>

    <title>Verify</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet" >


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href={% static "css/fontawesome.css" %}>
    <link rel="stylesheet" href={% static "css/templatemo-sixteen.css" %}>
    <link rel="stylesheet" href={% static "css/owl.css" %}>
    <link rel="stylesheet" href={% static "css/new.css" %}>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

  </head>
  <style>
    #id_services {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }

  /* Style for each checkbox */
  #id_services {
      flex-basis: 20%; /* Each item takes up 20% of the container width */
      padding: 5px;
      box-sizing: border-box;
  }
  </style>
  

  <body>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{%url "home"%}"><h2>African <em>Hook</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href={%url "home"%}>Home<i class="fa fa-home"></i>
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item active">
                <a class="nav-link" href={%url "videos"%}>Videos
                </a>
              </li>
              <li class="nav-item">
                <button onclick="document.getElementById('id01').style.display='block'">Post Ads</button>
                <div class="w3-container">
                  
                  <div id="id01" class="w3-modal">
                    <div class="w3-modal-content">
                      <div class="w3-container">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button">&times;</span>
                        <a href="{%url "post" %}">
                          <img src="{% static 'images/picon.webp' %}" alt="">
                          Post Picture
                        </a>
                        <a href="{%url "postvideo" %}">
                          <img src="{% static 'images/vicon.png' %}" alt="">
                          Post Video
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="">About Us</a>
              </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/useraccount">My Account<i class="fa fa-user"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signout">Logout<i class="fa fa-out"></i></a>
              </li>
             {% else%}
             <li class="nav-item">
              <a class="nav-link" href="/signin">Login<i class="fa fa-out"></i></a>
            </li>
            {% endif%}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <br>
    <br>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <br>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <h5 style="margin: 5px;">Verify Your Video</h5>
    <p style="margin: 5px;"> No Other Person Will See The Picture Will Be Deleted After  Verification.</p><br>
     <div class="form-group" 
     style="
      padding: 5px;
     "
     >

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img width="20%" src="{% static 'images/pic.webp' %}" alt="">
          Exmples
        <img width="20%" src="{% static 'images/id2.jpg' %}" alt="">
          Exmples
        <div class="form-group">
          <p> A Selfie With Any ID Card To Be Sure To Be Sure It Really You</p>
          
          {{ form.Picture_With_ID }}
        </div>
        <div class="form-group">
          <p>Front Of Your ID To Prove Your Age</p>
          {{ form.ID_Front }}
        </div>
        <p>Note: Every Information Sent will be deleted After Verification</p>
         <br>
          <button class="btn btn-primary btn-lg btn-block"
          style="
           padding: 5px;
           max-width: 100px;
            "
          type="submit">Submit</button>
      </form>
     </div>
  



  <footer>
     <div class="container">
       <div class="row">
         <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright &copy; 2024 Africanhook.com</p>
          </div>
        </div>
      </div>
     </div>
  </footer>


    <!-- Bootstrap core JavaScript -->
    <script src={% static "jquery/jquery.min.js"%}></script>
    <script src={% static "bootstrap/js/bootstrap.bundle.min.js" %}></script>


    <!-- Additional Scripts -->
    <script src= {% static "js/custom.js"%}></script>
    <script src={% static "js/owl.js"%}></script>
    <script src={%  static "js/slick.js" %}></script>
    <script src={%  static "js/isotope.js" %}></script>
    <script src={% static "js/accordions.js" %}></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7109320166994891"
     crossorigin="anonymous"></script>


  </body>

</html>
